* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka, Nunito, sans-serif;
}

.header {
    background-color: #161644;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    display: flex;
    align-items: center;
    color: #ff6160;
    font-family: Fredoka;
    font-size: 12px;
    gap: 10px;
}

.header .logo{
    display: flex;
    flex-shrink: 0;
    color: #ff6160;
    font-family: Nunito;
    font-size: 12px;
}

.header .contain-img {
    width: 80px;
    height: 40px;
    overflow: hidden;
    
}

.header .contain-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .links a{
    text-decoration: none;
    font-family: Fredoka;
    color: #D3E3FC;
    margin-left: 25px;
    font-size: 15px;
}


.hero {
    background-color: #161644;
    padding: 80px 150px;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.hero .text {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.hero .text h1 {
    font-size: 42px;
    color: #ff6160;
}

.hero .text p {
    font-family: Fredoka;
    font-size: 15px;
    color: #D3E3FC;
}

.hero .text button {
    width: 100px;
    height: 30px;
    background-color: #FFCCBC;
    color: #161644;
    border-style: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
}

.hero .contain-img {
    width: 400px;
    height: 200px;
    overflow: hidden;
}

.hero .contain-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 23%;
    filter: saturate(1.5);
}


.container-section {
    padding: 30px 150px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}

.container-section .title-section {
    font-size: 20px;
    color: #161644;
}

.container-section .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-section .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #161644;
    gap: 10px;
    width: 200px;
}

.container-section .cards .card .contain-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}

.container-section .cards .card .contain-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(1.5);
}

.container-section .cards .card h5 {
    font-weight: bold;
    font-size: 17px;
}

.container-section .cards .card p {
    font-family: "Fredoka";
    padding: 8px;
    font-size: 15px;
}